<div id="contact">
<p>I specialize in web and mobile web development, Javascript MVC based web applications as well as UI and web design.</p>
<p class="contactSub">UI/Web Design, UI/Web Development, Responsive, HTML5, CSS3, Javascript, jQuery, jQuery Mobile, jQuery UI,
Angular.js, Backbone.js, MongoDB, Node.js, Wordpress, Drupal</p>
<form id="contactForm" class="dNone">
	<div class="inputWrap">
		<label>Name:<span>*</span></label>
		<input type="text" class="input" id="cmName" name="cmName" />
	</div>
	<div class="inputWrap">
		<label>Email:<span>*</span></label>
		<input type="text" class="input" id="cmEmail" name="cmEmail" />
	</div>
	<div class="inputWrap">
		<label>Phone:</label>
		<input type="text" class="input" id="cmPhone" name="cmPhone" />
	</div>
	<div class="inputWrap">
		<label>Website:</label>
		<input type="text" class="input" id="cmWeb" name="cmWeb" />
	</div>
  <div class="clear"></div>
	<label>Project Type:<span>*</span></label>
	<div class="projectType" id="cmProject">
		<fieldset>
			<input type="radio" name="projectRadio" value="Web Development" id="projectRadioWeb" checked><label for="projectRadioWeb"> - Web Developement</label>
			<input type="radio" name="projectRadio" value="E-commerce Development" id="projectRadioE"><label for="projectRadioE"> - E-commerce Development</label>
			<input type="radio" name="projectRadio" value="UI Design" id="projectRadioUIDesign"><label for="projectRadioUIDesign"> - UI Design</label>
			<input type="radio" name="projectRadio" value="UI Development" id="projectRadioUIDev"><label for="projectRadioUIDev"> - UI Development</label>
		</fieldset>
	</div>
	<div class="pRel">
		<label>Project Details:<span>*</span></label>
		<textarea id="contactMessage" class="input" name="contactMessage"></textarea>
	</div>
	<div id="submitForm"><span>Submit</span></div>
</form>
</div>